ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
      }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: blue;
}

table.sec1 {
    columns: 6;
    border-collapse: separate;
    border: 5px solid black;
    border: #333;
    font-size: larger;
    text-align: center;
}

th.th-sec {
    column-span: all;

}

table {
    border: 5px solid black;
}

table.th-sec th{
    border: 5px solid black;
    border-collapse: collapse;
}